<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hn.linky"
    android:versionCode="5"
    android:versionName="@string/versionName" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /><uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    
	<application android:icon="@drawable/ic_menu_link" android:label="@string/appName">
	        
	    <activity android:name=".PasswordFormActivity" 
	        android:label="@string/appName" 
	        android:icon="@drawable/ic_menu_link" 
	        android:launchMode="singleTop" 
	        android:finishOnTaskLaunch="false" 
	        android:excludeFromRecents="false">
	    	<intent-filter>
	        	<action android:name="android.intent.action.MAIN" />
	            	<category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
	    	    
	    <activity android:name=".MainActivity" 
	        android:icon="@drawable/ic_menu_link" 
	        android:launchMode="singleTop" 
	        android:allowTaskReparenting="true" 
	        android:label="@string/appName">       
	    </activity>
	    
        <receiver android:name=".SendMessageWidgetProvider" 
            android:label="LinkySendMessageWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_WIDGET_SEND_MESSAGE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" 
                android:resource="@xml/send_message_widget_provider" />
        </receiver>
        
        <service android:name=".LinkyIntentService" android:label="LinkyIntentService"></service>

        
	</application>
	
</manifest>